h1{
    color:green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src:local(Trebuchet MS)
}
p{
    color: blue;
}
li{
    color:blue; 
    }
h3{
    color:crimson;
    font-size:25px
    
}