.NavDiv {
    position: fixed;
    top: 1vh;
    height: 12vh;
    width: 99vw;
    background-color: rgb(36, 35, 35);
    color:darkkhaki;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.NLinks {
    height: 12vh;
    width: 99vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}
@media(max-width: 870px) {
    .NLinks {
        justify-content: space-between;
    font-size: 1em;
    }
}
@media(max-width: 380px) {
    .NLinks {
        padding: 0 0 0 0;
    }
}
#name{
    width: 25em;
    height: fit-content;
    font-size: 2em;
}
@media(max-width: 650px) {
    #name{
        width: 14em;
        height: fit-content;
        font-size: 1em;
    }
    .NLinks {   
    padding: 0 0 0 11%;
    }
}

