.flagButton{
    position: relative;
    width: 2em;
    height: 2em;
}
.image{
    padding: 15%;
    overflow: hidden;
    position: relative;
    top:0;
    border-radius: 10em;
}
.txt{
    margin: 20% 23% 20% 23%;
    font-size: small;
    position: absolute;
    top:0%;
    left:0%;
    z-index: 100;
    text-align: center;
    color: black;
    font-weight: 700;
    text-shadow: 0px 0px 3px white;
}